# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables 
.env

# Application data 
history.json
exports/

# OS-specific junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.cursor/
.idea/

#git
git_branch.txt
git_log.txt
git_status.txt
git_remote.txt